@model IEnumerable<BT.Models.TProjectsVersions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "ProjectsVersions", new { id = ViewData["id"] }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TProjectsVersionsCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TProjectsVersionsComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TProjectsVersionsStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TProjectsVersionsEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TProjectsVersionsApprove)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TProjectsVersionsClose)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.TProjectsVersionsCode, "Index", "Tasks", new { id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TProjectsVersionsComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TProjectsVersionsStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TProjectsVersionsEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TProjectsVersionsApprove)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TProjectsVersionsClose)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
