<div class="row">
    @{
        ViewBag.Title = "Index";
        var startDay = (DateTime)ViewData["StartDay"];
        var endDay = (DateTime)ViewData["endDay"];
        <table class="table table table-bordered">
            <thead>
                <tr>
                    @while (startDay <= endDay)
                    {
                        <th>@startDay.Date.ToString("dd.MM.yyyy")</th>
                        startDay = startDay.AddDays(1.00);
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    var t = (List<BT.Models.TTasks>)ViewData["data"];
                    foreach (var u in t.Select(a => a.TUser.Id).Distinct())
                    {
                        var s = (DateTime)ViewData["StartDay"];
                        var e = (DateTime)ViewData["endDay"];
                        int count_ = e.Date.Subtract(s.Date).Days + 1;
                        <tr>
                            <td class="info" colspan="@count_">
                                @t.First(a => a.TUser.Id == u).TUser.UserName
                            </td>
                        </tr>
                        foreach (var item in t.Where(a => a.TUser.Id == u))
                        {
                            var start = (DateTime)ViewData["StartDay"];
                            var end = (DateTime)ViewData["endDay"];
                            <tr>
                                @foreach (var listitem in BT.Code.Support.GetColumnTimeline(start, end, item.TTaskStart, item.TTaskEnd))
                                {
                                    <td colspan="@listitem.colspawn" style="padding:0" class="@listitem._class">
                                        @if (listitem.IsTask)
                                        {
                                            <a href="@Url.Action("Details", "Tasks", new { id = item.Id})" class="list-group-item active fg-white" style="display:block;">
                                                #@item.Id
                                            </a>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }
</div>
@model BT.Models.TTasks
@using BT.DAL;
<h2>Create</h2>
@using (Html.BeginForm("Create","Tasks",new{id = ViewData["id"]}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TTasks</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TTasksTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TTasksTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TTasksTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TTaskDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TTaskDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TTaskDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TTaskStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TTaskStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TTaskStart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TTaskEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TTaskEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TTaskEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TTasksTUsersId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(a => a.TTasksTUsersId, new SelectList((List<BT.Models.ApplicationUser>)ViewData["TUsers"], "Id", "UserName"))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
