<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link href="~/Content/metro-ui/css/metro-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/metro-bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/iconFont.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/metro-ui/jquery.ui.widget.js"></script>
    <script src="~/Scripts/metro-ui/metro.min.js"></script>
</head>
<body class="metro">
    <div class="grid">
        <nav class="navigation-bar dark fixed-top">
            <nav class="navigation-bar-content container">
                <a class="element brand" href="@Url.Action("Index","Home")">
                    <span class="icon-home"></span>
                </a>
                <span class="element-divider"></span>
                <a class="pull-menu" href="#"></a>
                <ul class="element-menu">
                    <li>
                        @Html.ActionLink("Проекты", "Index","Projects")
                    </li>
                </ul>
            </nav>
        </nav>
        <div class="row">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
